extends base
block head 
     link(rel='stylesheet' href='/assets/css/style.css')
     title Packman | #{title}
block   content 
    main.main
        form.form--editItem
            h1 Edit Product
            .form-group
                label(for='product-name') Product Name:
                input#product-name(type='text' name='product-name' value = item.name)
            .form-group
                label(for='price') Price:
                input#price(type='text' name='price' min='0' value =item.price)
            .form-group
              label(for='quantity') Quantity:
              input#item-quantity(type='number' name='quantity' min='1' value= item.quantity)
            button#submit-button.button(type='submit') Submit
